.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url('/storage/images/ground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2ecc71;
}