.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url('/storage/images/ground.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #2ecc71;
    animation: moveGround var(--move-ground-duration) linear infinite;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 768px) {
    .ground {
        background-size: cover;
    }
}

@keyframes moveGround {
    0% { background-position: 0 0; }
    100% { background-position: -100% 0; }
}