.player {
    z-index: 9999;
    position: absolute;
    bottom: 75px;
    left: calc(100% / 3);
    width: 100px;
    height: 100px;
    background-color: transparent;
    background-image: url('/storage/images/capybara.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes jump {
    0% { transform: translateY(0); }
    30% { transform: translateY(calc(var(--jump-height, 200px) * -1)); }
    100% { transform: translateY(0); }
}

.player.jumping {
    animation: jump 1800ms ease;
}
