@import url('player.css');
@import url('ground.css');
@import url('obstacles.css');

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-image: url('/storage/images/sky.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3498db;
}

@keyframes moveObstacle {
    0% { right: -50px; }
    100% { right: 100%; }
}

.moving-obstacle {
    animation: moveObstacle 5s linear infinite;
}

.counter {
    position: absolute;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    top: 30%;
    left: 50%;
}